<html>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link href="styles/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.tools.min.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
{% block header %}{% endblock %}
<title>{% block title %}{% endblock %}</title>
<!-- <script type="text/javascript" src="js/jquery.scrollable.min.js"></script> -->
<!-- <script type="text/javascript" src="js/jquery-ui-1.7.2.custom.min.js"></script> -->

<body>
{% block bodycontent %}
{% endblock %}
</body>
</html>
