{% extends "base.html" %}
{% block title %}{{ user.uname }} 的书籍{% endblock %}
{% block bodycontent %}
<script type="text/javascript">
  function showChart(url) {
  swfobject.embedSWF(
  "swf/OFC.swf", "my_chart",
  "550", "300", "9.0.0", "swf/expressInstall.swf",
  {"data-file":url} );
  }
</script>

<div id="my_chart">
</div>

<!-- navigator -->
<div class="navi"></div>

<!-- prev link -->
<a class="prev"></a>

<div class="scrollable">
  <div id="thumbs">
    {% for book in books %}
    <div class="bookitem" id="{{ book.key }}">
      <div class="cover"><img src="{{ book.img }}" /></div>
      <h3><em>{{ forloop.counter }}.</em>{{ book.title }}</h3>
      <div class="option">修改进度</div>
      <div class="option"><a href="/randomProgress?book={{ book.key }}">随机进度生成</a></div>
      <div class="option"><a href="/showProgress?book={{ book.key }}">查看进度</a></div>
      <div class="option"><a href="javascript: showChart('/getOFCData?key={{ book.key }}')">查看进度</a></div>
      <span class="blue">{{ book.done }} / {{ book.pages }}</span>
    </div>
  {% endfor %}
  </div>
</div>

<!-- next link -->
<a class="next"></a>

<br clear="all" />

<script>
  
// execute your scripts when DOM is ready. this is a good habit 
$(function() {         
         
    // initialize scrollable  
    var api = $("div.scrollable").scrollable({
        api: true,
        size: 3, 
        items: '#thumbs',   
        hoverClass: 'hover' 
    });

    $("div.bookitem").click(function() {
        bkey = $(this).attr("id");
        showChart("/getOFCData?key=" + bkey);
    });
}); 
</script>

<div id="my_chart" styles="display:block; border:1px solid; height: 300px; width: 550px;">dd</div>
{% endblock %}
