/* this makes it possible to add next button beside scrollable */
div.scrollable {
    float:left;
}

/* prev, next, prevPage and nextPage buttons */
a.prev, a.next, a.prevPage, a.nextPage {
    display:block;
    width:18px;
    height:18px;
    background:url(../img/arrow/left.png) no-repeat;
    float:left;
    margin:43px 10px;
    cursor:pointer;
}

/* mouseover state */
a.prev:hover, a.next:hover, a.prevPage:hover, a.nextPage:hover {
    background-position:0px -18px;
}

/* disabled navigational button */
a.disabled {
    visibility:hidden !important;
}

/* next button uses another background image */
a.next, a.nextPage {
    background-image:url(../img/arrow/right.png);
    clear:right;
}


/*********** navigator ***********/


/* position and dimensions of the navigator */
div.navi {
    margin-left:328px;
    width:200px;
    height:20px;
}

/* items inside navigator */
div.navi a {
    width:8px;
    height:8px;
    float:left;
    margin:3px;
    background:url(../img/navigator.png) 0 0 no-repeat;     
    cursor:pointer;
}

/* mouseover state */
div.navi a:hover {
    background-position:0 -8px;      
}

/* active state (current page state) */
div.navi a.active {
    background-position:0 -16px;     
} 

/* root element for the whole scrollable setup */
div.scrollable {  
    position:relative;
    overflow:hidden;
    width: 646px; 
    height:300px;
}

/* 
   root element for scrollable items. It is 
   absolutely positioned with large width. 
*/
#thumbs {
    position:absolute;
    width:20000em;
    clear:both;
    border:1px solid #222;
}

/* custom positioning for navigational links */
a.prev, a.next {
    margin-top:118px;
}


/* single item */
#thumbs div.bookitem {
    float:left;
    width:214px;
    height:300px;
    /* background:#333 url(http://static.flowplayer.org/img/global/gradient/h150.png) repeat-x 0 146px; */
    background: #333;
    color:#fff;
    border-left:1px solid #000;
    cursor:pointer;
}

/* style when mouse is over the item */
#thumbs div.bookitem.hover {
    background-color:#444;
}

/* style when element is active (clicked) */
#thumbs div.bookitem.active {
    background-color:#066;
    cursor:default;
}

#thumbs h3, #thumbs div.option, #thumbs span {
    margin:13px;
    font-family:"bitstream vera sans";
    font-size:13px;
    color:#fff;
}

#thumbs h3 em {
    font-style:normal;
    color:yellow;
}

#thumbs div.bookitem div.cover img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

