/* this makes it possible to add next button beside scrollable */
div.scrollable {
    float:left;
}

/* prev, next, prevPage and nextPage buttons */
a.prev, a.next, a.prevPage, a.nextPage {
    display:block;
    width:27px;
    height:27px;
    background:url(../img/arrow/left-1.5.png) no-repeat;
    float:left;
    margin:43px 10px;
    cursor:pointer;
}

/* mouseover state */
a.prev:hover, a.next:hover, a.prevPage:hover, a.nextPage:hover {
    background-position:0px -27px;
}

/* disabled navigational button */
a.disabled {
    visibility:hidden !important;
}

/* next button uses another background image */
a.next, a.nextPage {
    background-image:url(../img/arrow/right-1.5.png);
    clear:right;
}


/*********** navigator ***********/


/* position and dimensions of the navigator */
div.navi {
    margin-left:350px;
    width:200px;
    height:20px;
}

/* items inside navigator */
div.navi a {
    width:8px;
    height:8px;
    float:left;
    margin:3px;
    background:url(../img/navigator.png) 0 0 no-repeat;
    cursor:pointer;
}

/* mouseover state */
div.navi a:hover {
    background-position:0 -8px;
}

/* active state (current page state) */
div.navi a.active {
    background-position:0-16px;
}

/* root element for the whole scrollable setup */
div.scrollable {
    position:relative;
    overflow:hidden;
    width: 631px;
    height: 222px;
}

/*
   root element for scrollable items. It is
   absolutely positioned with large width.
   */
#thumbs {
    position:absolute;
    width:20000em;
    clear:both;
    border:1px solid #222;
}

/* custom positioning for navigational links */
a.prev, a.next {
    margin-top:100px;
}


/* single item */
#thumbs div.bookitem {
    float:left;
    width:156px;
    /* background:#333 url(http://static.flowplayer.org/img/global/gradient/h150.png) repeat-x 0 146px; */
    background: #FFF1E3;
    color:#fff;
    border-left:1px solid #000;
/* cursor:pointer; */
}

/* style when mouse is over the item */
#thumbs div.bookitem.hover {
    background-color:#9DB0E7;
}

/* style when element is active (clicked) */
#thumbs div.bookitem.active {
    background-color:#E8F100;
    cursor:default;
}

#thumbs h3, #thumbs div.option div, #thumbs span {
    margin:13px;
    font-family:"bitstream vera sans";
    font-size:13px;
    color:#000;
}

#thumbs div.title {
    cursor:pointer;
}

#thumbs h3 em {
    font-style:normal;

}

#thumbs h3 {
    height: 30px;
}

#thumbs div.bookitem div.cover {
    height: 90px;
    cursor: pointer;
}

#thumbs div.bookitem div.cover img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#thumbs div.option {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}

#chartContainer {
    display: block;
    width: 631px;
    height: 290px;
    margin-left: 46px;
}

#my_chart {
    margin: auto;
}

#thumbs div.progressBar {
    width: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#thumbs div.progressBar img {
    border: 1px solid;
}

div#mainContainer {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#thumbs div.update {
    float: left;
    cursor: pointer;
    text-align: center;
}

#thumbs div.update:hover {
    background-color: #BBF657;
}
