#addProgress {
    display: none;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 282px;
    height: 192px;
    font-size: 14px;
    color: #000;
    background: url(../img/popup_bg.png) no-repeat;
}

#addProgress input {
    margin-top: 10px;
}

#middle {
    position: fixed;
    overflow: visible;
    z-index: 10000;
    display: block;
    width: 100%;
    top: 80px;
    left: 0px;
}

#updateTitle {
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
}

#updateCover {
    position: relative;
    top: 10px;
    left: 20px;
    display: inline;
    width: 80px;
    float: left:
}

#updateInfo {
    position: relative;
    top: 10px;
    left: -45px;
    display: inline;
    float: right;
    width: 120px;
}

#updateSubmit {
    display: block;
    position: relative;
    left: -45px;
    text-align: center;
    width: 120px;
    /* clear: both; */
    float: right;
}

#updateSubmit:hover {
    cursor: pointer;
    background-color: #DEAE31;
}

#addProgress input {

}

#updateDay {
    width: 80px;
}

#updatePage {
    width: 30px;
}

#exposeMask {
    background:#072a99 url(/img/expose/mask_gradient_1000.png) no-repeat scroll 50% -104px;
}