#addProgress {
    display: none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 220px;
    font-size: 14px;
    color: #000;
    background-color: #eee;
}

#middle {
    position: fixed;
    overflow: visible;
    z-index: 10000;
    display: block;
    width: 100%;
    top: 200px;
    left: 0px;
}

#addProgress div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#updateTitle {
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
}

#updateInfo {
    width: 220px;
    margin-bottom: 40px;
}

#updateSubmit {
    text-align: center;
    width: 120px;
}

#updateSubmit:hover {
    cursor: pointer;
    background-color: #DEAE31;
}

#addProgress input {

}

#updateDay {
    width: 80px;
}

#updatePage {
    width: 30px;
}

#exposeMask {
    background:#072a99 url(/img/expose/mask_gradient_1000.png) no-repeat scroll 50% -104px;
}